<h3>Pregunta</h3>

<!-- para todos los tama単os excepto xs -->
<form class="hidden-xs" method="get" action="/quizes/<%= quiz.id %>/answer">
  <div class="form-group">
    <label for="respuesta"><div class="well well-sm">多<%= quiz.pregunta %>?</div></label>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <input id="respuesta" class="form-control" name="respuesta" placeholder="Introduzca aqui su respuesta">    
      </div>
    </div>    
  </div>
	<div class="form-group">
    <button type="submit" class="btn btn-primary"><span>Responder</span></button>
    <a href="/quizes" class="btn btn-warning" role="button"><span>Cancelar</span></a>
  </div>	
</form>

<!-- solo para tama単os xs -->
<form class="visible-xs-block" method="get" action="/quizes/<%= quiz.id %>/answer">
  <div class="form-group">
    <label for="respuesta"><div class="well well-sm">多<%= quiz.pregunta %>?</div></label>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <input id="respuesta" class="form-control" name="respuesta" placeholder="Introduzca aqui su respuesta">    
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary"><span>Responder</span></button>
    <a href="/quizes" class="btn btn-warning" role="button"><span>Cancelar</span></a>
  </div>  
</form>

<hr/>

<!-- Comentarios -->
<div class="row">
  <div class="col-xs-12 margenAbajo">
    <span class="h4">Comentarios</span>
    <a href="/quizes/<%= quiz.id %>/comments/new" class="btn btn-primary btn-sm" role="button">
      <span class="glyphicon glyphicon-plus"></span><span> Nuevo</span>
    </a>    
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <ul class="list-group text-left">

      <% for (i in quiz.Comments) { %>
        <% if (quiz.Comments[i].publicado || session.user) { %>
          <li class="list-group-item"><%= quiz.Comments[i].texto %>
            <% if (session.user && !quiz.Comments[i].publicado) { %>
              <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish" class="btn btn-primary btn-xs" role="button">
                <span class="glyphicon glyphicon-ok"></span>
              </a>
            <% } %>
          </li>
        <% } %> 
      <% } %>

    </ul>
  </div>
</div>